<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>282958468604-bpql3kuunrmlb8cfak1n81q0lajdm5t4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.282958468604-bpql3kuunrmlb8cfak1n81q0lajdm5t4</string>
	<key>API_KEY</key>
	<string>AIzaSyCun3vg_SV7PrdPCNdyPZwuml6T35Pa9ps</string>
	<key>GCM_SENDER_ID</key>
	<string>282958468604</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>gurraracing.Blutique</string>
	<key>PROJECT_ID</key>
	<string>blutique-daab4</string>
	<key>STORAGE_BUCKET</key>
	<string>blutique-daab4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:282958468604:ios:ed73e947e1623b5e</string>
	<key>DATABASE_URL</key>
	<string>https://blutique-daab4.firebaseio.com</string>
</dict>
</plist>